<nav class="navbar navbar-expand-lg bg-warning fixed-top">
  <div class="container">

    <a class="navbar-brand" href="{% url 'main' %}" style="font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;"><h5>ThisBook.com</h5></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <ul class="navbar-nav ms-auto">
        <a class="nav-link active" aria-current="page" href="{% url 'main' %}"><i class="fa fa-home"></i>Home</a>
        <a class="nav-link" href="#"><i class="fa fa-shopping-cart"></i>Cart</a>
        {% if user.is_authenticated %}
            <a class="nav-link" href="#"><i class="fa fa-user-secret"></i><strong>{{user.username}}</strong></a>
            <a class="nav-link" href="{% url 'logout' %}"><i class="fa fa-user-secret"></i>Logout</a>
        {% else %}
            <a class="nav-link" href="{% url 'register' %}"><i class="fa fa-user"></i>SignUp</a>
            <a class="nav-link" href="{% url 'login' %}"><i class="fa fa-user-secret"></i>Login</a>
        {% endif %}
        <form class="d-flex" role="search" action="{% url 'search_results' %}" method="get">
          <input name="q" class="form-control me-0" type="search" placeholder="Your search keyword..." aria-label="Search">
          <button class="btn btn-outline-secondary opacity-75" type="submit">Search</button>
        </form>
      </ul>
    </div>
    
  </div>
</nav>
