<footer class="text-center text-lg-start bg-warning text-dark">
    <section class="container d-flex justify-content-center justify-content-lg-between p-4">
        <div class="me-5 d-none d-lg-block">
            <span><h3>Get Connected With us on Book Web Shopping</h3></span>
        </div>
        <div>
            <a href="" class="me-5 text-reset"><i class="fa fa-facebook"></i></a>
            <a href="" class="me-5 text-reset"><i class="fa fa-twitter"></i></a>
            <a href="" class="me-5 text-reset"><i class="fa fa-google"></i></a>
            <a href="" class="me-5 text-reset"><i class="fa fa-instagram"></i></a>
            <a href="" class="me-5 text-reset"><i class="fa fa-linkedin"></i></a>
            <a href="" class="me-5 text-reset"><i class="fa fa-github"></i></a>
        </div>
</section>
<section class="">
    <div class ="container text-center text-md-start mt-2">
        <div class="row mt-4">
        
            <div class="col-md-4 col-lg-4 col-xl-3 mx-auto mb-4">
                <h3 class="text-uppercase fw-bold mb-4">Buy A Book</h3>
                <p>
                    Order will be filled directly by our distributor,
                    and the full profit from your purchase will be sent to bookstore you selected.
                </p>
            </div>
            <div class="col-md-4 col-lg-4 col-xl-3 mx-auto mb-4">
                <h3 class="text-uppercase  fw-bold mb-4"> Check the Mail</h3>
                <p>
                   You'll receive a confirmation and tracking number when your order is placed, 
                    and our in-house customer service team will be standing by if you have issues or returns.
                </p>
            </div>
            <div class="col-md-4 col-lg-3 col-lx-3 mx-auto mb-md-0 mb-4">
                <h4 class="text-uppercase fw-bold mb-4">Contact</h4>
                <p><i class="fa fa-home"></i>E-Book</p>
                <p><i class="fa fa-envelope"></i>info@ebook.com</p>
                <p><i class="fa fa-phone"></i>+46 7453921</p>
            </div>
             </div>
        </div>
    </div>
    <div>
    </div>
</section>
<div class="text-center p-2">
    &copy; 2023 Copyright <a class="text-reset fw-bold" href="#">thisBook.com</a>
</div>

</footer>