{% extends 'layout/index.html' %}
{% block title %}
    Main | Books Web Shopping
{% endblock title %}
{% block content %}
<div class="container" style = "margin-top:70px;">

<div class="container mt-5">
<div class="row mt-4 mb-4">

        <div class="col-md-3">
    {% if book.image %}
    <img src="{{ book.image.url }}" class="card-img-top" alt="{{ book.title }}">
    {% endif %}
        </div>
        <div class="col-md-9">
    <h2>{{ book.title }}</h2>
    <p><strong>Author:</strong> {{ book.author }}</p>
    <p><strong>Publisher:</strong> {{ book.publisher }}</p>
    <p><strong>Price:</strong> ${{ book.price }}</p>
    <p><strong>Category:</strong> {{ book.category_id.category_name }}</p>
    <p>{{ book.book_description }}</p>



    <a href="" class="btn btn-primary">Back to Book List</a>
            </div>
</div>
</div>



</div>

{% endblock content %}

