{% extends 'layout/index.html' %}
{% block title %}
    Order | Books Web Shopping | {{ book.title }}
{% endblock title %}
{% block content %}
<section class="bg-light py-4 my-5" style="min-height:600px">
    <div class="container">
        <div class="row">
            <h5 class="mb-3">You Can Order Here</h5>
            <hr class="border border-warning border-5">
        </div>
    <div style="font-size: 50px;color:black">
        Opps!  Check Out Page yet Complete..
    </div>
</section>
{% endblock %}