{% extends 'layout/index.html' %}

{% block title %}
    Home | Books Web Shopping
{% endblock title %}
{% block content %}
<div class = "container" style="margin-top: 70px; min-height: 600px;">
    <div class="row">
    
     <div class="col-12">
        <h4 class="mb-3" style="color: black; text-align: center;">Sign Up</h4>
        <hr class = "border border-warning border-3">
     </div>
    </div>
 
  <div class="jumbotron">
{% if registered %}
    <h1>Thank you for registering!</h1>
{% else %}
<h1 class="mt-3 mb-3">Register here</h1>
    <h3>Fill out the form:</h3>
    <form enctype="multipart/form-data" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    {{profile_form.as_p}}
    <input type="submit" value = "Register">
    </form>

{% endif %}

</div>
    </div>

{% endblock %}






